<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row mx-auto">
        <h4 style="text-align: center">{{inventory_title}}</h4>
      </div>
      <div *ngIf="message!=''" class="row alert alert-success" role="alert">
          {{message}}
      </div>
  <div class="row">
    <div class="col"> 
        <label for="inventory_title">Titulo:</label>
    </div>
    <div class="col">
        <input type="text" [(ngModel)]="inventory_title"  [ngModelOptions]="{standalone: true}" class="form-control">
    </div>
    <div class="col">
        <a (click)="saveTitle()"  class="btn btn-success"><i class="fas fa-save"></i>Guardar</a>
    </div>
  </div>
  <div>
    
  </div>
<div class="row">
  <div class=col>
    <label for="file">Plantilla</label>
  </div>
  <div class="col">
      <input type="file" accept=".csv" (change)="changeListener($event.target.files)" />  
  </div>
  <div class="col">
      <a (click)="newInventory()"  class="btn btn-primary"><i class="fas fa-file"></i>Nuevo</a>
  </div>
</div>
  <div class="row  justify-content-md-center">
    <div class="col-sm-4 ">
        <a (click)="dowloaddata()"  class="btn btn-success btn-"><i class="fas fa-download"></i>descargar</a>
    </div>
      

  </div>

  <table  class="table">
  
      <tr>
          <th scope="col">Descripción</th>
          <th scope="col">UM</th>
          <th scope="col">Fisico</th>
          <th scope="col">Unidad</th>
          <th scope="col">Total</th>
          <th scope="col">Agregar</th>
      </tr>
   
    <tbody>
      <tr *ngFor="let item of items">
        <td scope="row">{{item.descripcion}}</td>
        <td>{{item.um}}</td>
        <td>{{item.fisico}}</td>
        <td>{{item.unidad}}</td>
        <td>{{item.total}}</td>
        <td>
          <form action="">
              <input type="number" [(ngModel)]="numer"  [ngModelOptions]="{standalone: true}" class="form-control" required>
              <a class="btn btn-primary" (click)="sumItem(item.descripcion,'sum')" >Sumar</a>
              <a class="btn btn-danger" (click)="sumItem(item.descripcion,'res')" >Restar</a>

          </form>
         
        </td>
      </tr>
    </tbody>
  </table>

<router-outlet></router-outlet>
